@import 'bootstrap';

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
    margin: 0%;
    color: #e9a664;
    
}

// header
 .app-logo{
height: 200px;
 }

header{
    background-color: #1e1d1d;
    margin: 0%;
    // height: 143px;
}
 .nav-links-header{
    //  display: flex;
    //  justify-content:center;
    display: inline;
    font-weight: bold;
    text-align: right;
 }

 // body 
 .title{
     text-align: center;
 }

 body{
    background-color: #1e1d1d;
}
.indextitle{
    text-align: center;
}
.carousel{
// width: 98%;
// display: flex;

}
// Footer
footer{
    background-color: white;
}

.nav-links-footer{
    display: flex;
    justify-content:space-evenly;
    font-weight: bold;
 }

 // reactstrap components 
 .indexcards{
     display: flex;
     justify-content: space-around;
     flex-direction:column;
     background-color: #1e1d1d;  ;
 }

 .btn{
    background-color: #26B68D
    ;
}